@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Roboto', sans-serif;
    margin: auto 100px;
}

header{
    background-color: white;
}


.nav-container{
background-color: red;

}

nav a{
    text-decoration: none;
}

nav ul{
    text-decoration: none;
    list-style: none;
}